/*GLOBAL*/
body {
    font-family:'Segoe UI', system-ui, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    color: #e5e7eb;
}
/*NAVIGATION*/
nav{
    background-color: #020617;
    padding: 15px 0;
    text-align:center;
    border-top: 1px solid #1e293b;
}

nav a {
    color: #e5e7eb;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

/*HEADER*/
header{ 
    background-color: #020617;
    padding: 80px 20px 60px;
    text-align: center;
}

header h1{
    font-size: 38px;
    letter-spacing: 1px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    color: #94a3b8;
}

main {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
}
/*CONTENT*/
section {
    background-color: #020617;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

p, li {
    line-height: 1.6;
    font-size: 16px;
}

ul {
    padding-left: 20px;
}


